/* ***************** */
/* Navigation  */
/* ***************** */

.navigation {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site__nav {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.navigation__list {
  display: flex;
  align-items: center;
  margin: 0;
}
.link__items {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}

.items {
  padding: 0;
  margin: 0;

  & :hover,
  & :focus,
  &.current,
  & :active {
    color: var(--accent-color);
  }
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & :hover,
  & :focus {
    color: var(--accent-color);
    display: block;
  }
}

.header__contacts {
  display: flex;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  align-items: center;
  padding: 0;

  & :hover,
  & :focus {
    color: var(--accent-color);
  }
}

.header__contacts--studio {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts--mail {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;

  color: var(--secondary-text-color);
  font-family: "Roboto";
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__items--current > .navigation__link::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.link__items--current {
  margin-right: 50px;
}
.icon {
  margin-right: 10px;
  fill: currentColor;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
